{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Вхід</h1>
    <form method= "post">
        {% csrf_token %}
        <input type="text" placeholder="Введіть ім'я" name="name" required>
        <br>
        <input type="password" placeholder="Введіть пароль" name="password" required>
        <br>
        <input type="password" placeholder="Введіть код з почти" name="mail-password" required>
        <br>
        <button>Надіслати</button>
{% endblock %}  

{% block script %}
{% endblock %}