{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <form method= "post">
        {% csrf_token %}
        <!--<input type="text" placeholder="Введіть ім'я" name="name" required>
        <br>
        <input type="text" placeholder="Введіть Прізвище" name="username" required>
        <br>
        <input type="email" placeholder="Введіть email" name="email" required>
        <br>
        <input type="password" placeholder="Введіть пароль" name="password" required>
        <br>
        <input type="password" placeholder="Введіть пароль підтвердження" name="correct-password" required>
        <br>
        <input type="birthday" placeholder="Введіть дату народження" name="birthday" required>
        <br>
        <input type="gender" placeholder="Введіть стать" name="become" required>
        <br>
        <input type="text" placeholder="Введіть nickname" name="nickname" required>
        <br>-->
        <input type="text" placeholder="Введіть ім'я" name="name" required>
        <input type="text" placeholder="Введіть Прізвище" name="username" required>
        <input type="email" placeholder="Введіть email" name="email" required>
        <input type="password" placeholder="Введіть пароль" name="password" required>
        <button>Надіслати</button>
    </form>
{% endblock %} 

{% block script %}
{% endblock %}